@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container-father {
  width: 100%;
  height: 77%;
  display: inline-grid;
  justify-content: center;
}

.box-content {
  width: 100%;
  height: 550px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  /* min-width: 1023px; */
  margin-right: 101px;
}

.grid-section {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 30px;
}
.quest {
  font-weight: 400;
}

.resp {
  font-weight: 400;
  display: none;
}

.div {
  padding: 23px;
  padding-right: 114px;
  border-bottom: 2px solid hsl(240, 5%, 91%);
  display: flex;
  justify-content: space-between;
}

.div:hover {
  background-color: aquamarine;
}

.seta {
  height: 12px;
  position: relative;
  left: 29%;
}

#tri {
  position: relative;
  left: -26%;
  top: 4%;
  height: 562px;
}

#ilu-box {
  position: relative;
  z-index: 1;
  top: 433px;
  left: -92px;
}

.image {
  display: grid;
}

#woman {
  width: 552px;
  height: 440px;
  position: relative;
  left: -21%;
  bottom: 119%;
}

.questions {
  width: 56%;
  padding-right: 52px;
}

p {
  white-space: nowrap;
}

@media (max-width: 1260px) {
  .box-content {
    width: 99%;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 6px;
  }
}

@media (max-width: 1015px) {
  #woman {
    width: 301px;
    height: 227px;
    position: relative;
    left: 12%;
    bottom: 201%;
  }
  .grid-section {
    display: block;
  }

  #ilu-box {
    position: absolute;
  }
  #tri {
    position: relative;
    left: 9%;
    top: -62%;
    height: 315px;
  }
  .box-content {
    width: 100%;
    height: 653px;
    background-color: white;
    border-radius: 20px;
    overflow: initial;
    position: relative;
    margin: 0px;
    margin: 0 auto;
  }

  .image {
    position: absolute;
  }

  .questions {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    padding: 0px;
  }

  .seta {
    height: 12px;
    position: absolute;
    left: 88%;
  }

  .questions h1 {
    margin-bottom: 30px;
    margin-top: 155px;
    font-size: 47px;
    text-align: center;
  }
  .div {
    padding: 23px;
    padding-right: 0;
    border-bottom: 2px solid hsl(240, 5%, 91%);
    display: block;
    justify-content: space-between;
  }
  .container-father {
    width: 69%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
  }
}
